@{
    ViewBag.Title = "Kevy Augusto - .NET Software Developer";
}

<div class="container-fluid section-highlighted fill-screen">
    <div class="row">
        <div class="col-xs-12 profile">
            <img class="img-responsive center-block img-circle" src="~/Content/Img/profile.jpg" alt="Kevy Augusto - .NET Software Developer" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-bottom-description">
            <div class="intro-description">
                <span class="name">Kevy Augusto</span>
                <hr class="hr-star-light-first" />
                <span class="profession">Software Engineer</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid section-light" id="about">
    <div class="row">
        <div class="col-xs-12 text-center bio-description">
            <h2>About</h2>
            <hr class="hr-star" />
            <div class="description">".NET Engineer working with Software Development predominantly using ASP.NET, C# and SQL Server since 2007 with experience in projects of different commercial businesses and corporations (Tourism, Online Gambling, Healthcare, Education and Consulting). Available for hiring in Sydney or remotely."</div>
        </div>
    </div>
</div>
<div class="container-fluid section-highlighted">
    <div class="row">
        <div class="col-xs-12 text-center technologies">
            <h2>Technologies</h2>
            <hr class="hr-star-light" />
        </div>
    </div>
    <div class="row">
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="C#" src="~/Content/Img/Technologies/visual_csharp.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-3 col-sm-6">
            <img class="img-responsive center-block padding-top-30" data-toggle="tooltip" data-original-title="SQL Server" src="~/Content/Img/Technologies/MicrosoftSQLServer.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title=".NET Framework" src="~/Content/Img/Technologies/DotNETFramework.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-3 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="ASP.NET" src="~/Content/Img/Technologies/ASPNET.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="Windows" src="~/Content/Img/Technologies/Windows.png" />
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="technology-logo col-xs-12 col-md-3 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="AWS" src="~/Content/Img/Technologies/AmazonWebServices.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block  padding-top-30" data-toggle="tooltip" data-original-title="Bootstrap " src="~/Content/Img/Technologies/Bootstrap.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="HTML5 " src="~/Content/Img/Technologies/HTML5.png" />
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="CSS3 " src="~/Content/Img/Technologies/CSS3.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-3 col-sm-6">
            <img class="img-responsive center-block padding-top-30" data-toggle="tooltip" data-original-title="AngularJS" src="~/Content/Img/Technologies/AngularJS.png" />
        </div>
        <div class="clearfix"></div>
        <div class="technology-logo col-xs-12 col-md-3 col-sm-6">
            <img class="img-responsive center-block padding-top-30" data-toggle="tooltip" data-original-title="jQuery" src="~/Content/Img/Technologies/jQuery.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block padding-top-30" data-toggle="tooltip" data-original-title="Redis" src="~/Content/Img/Technologies/Redis.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="JavaScript" src="~/Content/Img/Technologies/JavaScript.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-2 col-sm-6">
            <img class="img-responsive center-block padding-top-30" data-toggle="tooltip" data-original-title="Git" src="~/Content/Img/Technologies/Git.png" />
        </div>
        <div class="technology-logo col-xs-12 col-md-3 col-sm-6">
            <img class="img-responsive center-block" data-toggle="tooltip" data-original-title="MongoDB" src="~/Content/Img/Technologies/MongoDB.png" />
        </div>
    </div>
</div>
<div class="container-fluid section-light">
    <div class="row">
        <div class="col-xs-12 text-center past-employers">
            <h2>Past Employers and Clients</h2>
            <hr class="hr-star" />
        </div>
    </div>
    <div class="row">
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://www.envisiontecnologia.com.br/" target="_blank">
                <img class="img-responsive center-block" alt="Site Minder" src="~/Content/Img/Employers/SiteMinder.png" />
            </a>
        </div>
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://www.microsoftinnovationcenters.com/" target="_blank">
                <img class="img-responsive center-block padding-top-30" alt="Microsoft" src="~/Content/Img/Employers/Microsoft.png" />
            </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://betboo.com" target="_blank">
                <img class="img-responsive center-block padding-top-30" alt="Betboo" src="~/Content/Img/Employers/Betboo.png" />
            </a>
        </div>
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://www.lfg.com.br/" target="_blank">
                <img class="img-responsive center-block" alt="LFG" src="~/Content/Img/Employers/LFG.png" />
            </a>
        </div>
        <div class="clearfix "></div>
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://www.envisiontecnologia.com.br/" target="_blank">
                <img class="img-responsive center-block padding-top-30" alt="Envision Tecnologia" src="~/Content/Img/Employers/EnvisionTecnologia.png" />
            </a>
        </div>
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://aplicativos.fipe.org.br/bwgt2010/index.htm" target="_blank">
                <img class="img-responsive center-block" alt="Brazilian Workshop Game Theory Society" src="~/Content/Img/Employers/BWGTS.png" />
            </a>
        </div>
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://www.envisiontecnologia.com.br/" target="_blank">
                <img class="img-responsive center-block" alt="Paicon Technologies" src="~/Content/Img/Employers/PaiconTechnologies.png" />
            </a>
        </div>
        <div class="employer-logo col-xs-12 col-md-3 col-sm-6">
            <a href="http://www.ithink.com.br/" target="_blank">
                <img class="img-responsive center-block padding-top-30" alt="iThink" src="~/Content/Img/Employers/iThink.png" />
            </a>
        </div>
    </div>
</div>